h1 {
    text-align: center;
    font-family: 'sans-serif', cursive;
    padding: 0;
    padding-left: 30px;
    padding-top: 15px;
    margin: 0;
    line-height: 0.8;
  }
  
  h1#top {
    color: #FF9999;
    color: #FF99BB;
    color: #FF6699;
    font-size: 7em;
  
  }
  h1#bottom {
    color: #FF6699;
    font-size: 5.2em;
   }