h1 {
    text-align: center;
    font-family: 'sans-serif', cursive;
    padding: 0;
    padding-left: 30px;
    padding-top: 15px;
    margin: 0;
    line-height: 0.8;
  }
  
  h1 {
    color: #ea777a;
    font-size: 4.5em;
    font-family:cursive;
  }


   h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  } 
  .active {
    border: 4px solid #FF6699;
    border-radius: 10px;
    
  }
  
  .active h3 .player {
      font-size: 1.2em;
  }
  
  .active h3 {
      color: #FF6699;
  
  }
  .player {
    color: #d2a679;
    font-size: 1.2em;
    margin-bottom: 30px;
};
p {
    margin-top: 25px;
  
}

#players {
  text-align: center;
  
}

.container {
  background-color: rgba(255,255,255, 0.99);
  border: 10px solid #FF6699;
  border-radius: 5px;

  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 25px;
  padding-bottom: 50px;
}
.btn {
    margin-right: 20px;
    border-width: 5px;
    padding: 20px 25px;
  }
  
  #roll .btn {
      color: #fff;
      background-color: #FF6699;
      border: #FF6699;
      /*margin-left: -15px;*/
  }
  
  #end-turn .btn {
      color: #fff;
      background-color: #FF9999;
      border: #FF99BB;
      
  }
  ul{
    display:none;
  }
  li{
    font-family:helvetiva;
    font-size:1.3em;
    color:rgb(76, 32, 34);
  }